
br
section.entidades
  .container
    .row
      .responsive2
        div.col-md-3
          img(src="img/home/ap1.png")
        div.col-md-3
          img(src="img/home/ap2.png")
        div.col-md-3
          img(src="img/home/ap3.png")
        div.col-md-3
          img(src="img/home/ap4.png")
        div.col-md-3
          img(src="img/home/ap5.png")
        div.col-md-3
          img(src="img/home/ap6.png")
        div.col-md-3
          img(src="img/home/ap7.png")
