section.footer
	.container
		.row
			.col-md-7
				.item
					.icon-circle
						i.fa.fa-map-marker.fa-2x(aria-hidden="true")
					.text-footer
						p
							| Asociacion Interamericana de Desarrollo de la Selva Peruana.
							br
							|  Av. San Eugenio 981. Santa Catalina - La Victoria.
				.item
					.icon-circle
						i.fa.fa-envelope.fa-2x(aria-hidden="true")
					.text-footer
						p
							| Instutucional: aidesep@aidesep.net.pe
							br
							|  Comunicacion e incidencia: comunicaciones@aidesep.org.pe
				.item.phone
					.icon-circle
						i.fa.fa-phone.fa-2x(aria-hidden="true")
					.text-footer
						p (+51 1) 471 7118
				.item
					.icon-circle
						i.fa.fa-facebook.fa-2x(aria-hidden="true")
					.icon-circle
						i.fa.fa-twitter.fa-2x(aria-hidden="true")
					.icon-circle
						i.fa.fa-youtube.fa-2x(aria-hidden="true")
					.icon-circle
						i.fa.fa-flickr.fa-2x(aria-hidden="true")
			.col-md-5
				.fb-page(data-href='https://www.facebook.com/aidesep/', data-tabs='timeline', data-width="350" data-height='300', data-small-header='false', data-adapt-container-width='false', data-hide-cover='false', data-show-facepile='true')
					blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/aidesep/')
						a(href='https://www.facebook.com/aidesep/') Aidesep Pueblos Indígenas