section.suscribete
  .container
    .row
      .col-md-offset-2.col-md-4.prom-subsc
        img(src="img/icons/subsc.svg")
        .txt-subsc
          h2 Suscribete
          p Entérate de nuestras noticias
      .col-md-4
        .search
          form
            input(type='text', value='Correo Electrónico', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
            input(type='submit', value='Enviar')