doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug

		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Contactenos
								
		//formulario
		section.formulario.aside
			.container
				.row
					.col-md-12
						h2.titulo-principal Contactenos 
							span
								img(src='img/svg/icono-title-02.svg', width="50px" alt='')
						hr.line-title-seccion
						p Insertar en la agenda pública nacional e internacional la situación por la que atraviesan los pueblos indígenas en el Perú

				.row.formulario.animated.wow.slideInUp
					.col-md-4
						input#name.form-control(type='text', placeholder='Nombre completo', required='', data-validation-required-message='Please enter your name.')
					.col-md-4
						input#phone.form-control(type='tel', placeholder='Teléfono/Cleular', required='', data-validation-required-message='Please enter your name.')
					.col-md-4
						input#email.form-control(type='email', placeholder='Correo electrónico', required='', data-validation-required-message='Please enter your name.')

				.row.animated.wow.slideInUp
					.col-md-12
						textarea#message.form-control.mensaje(placeholder='Sugerencia', required='', data-validation-required-message='Please enter a message.')
				.row.animated.wow.slideInUp
					.col-md-6.check
						ul
							li
								input(type='checkbox', name='radio-btn') 
								span Autorizo a AIDESEP 
								|  ponerse en contacto conmigo
					.col-md-6.area-enviar
						a.enviar(href='#')
							button.btn.btn-xl.get(type='submit') ENVIAR

		br
		//entidades
		include includes/entidades.pug

		//suscribirse
		include includes/suscribete.pug

		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
					$('.responsive').slick({
						setting-name: setting-value
					});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
