doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug

		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Misión y Visión
								
		//Misión y Visión
		section.misisonyvision
			.container
				.row.aside
					.col-md-12
						h2 Misión y Visión
						hr.line-title-seccion

					.col-md-7.aside
						h3 Misión
						p Insertar en la agenda pública nacional e internacional la situación por la que atraviesan los pueblos indígenas en el Perú, garantizando la defensa y el respeto de sus derechos colectivos.
						h3 Visión
						p Los Estados del Perú y el mundo, las empresas privadas entre otros, toman conciencia de los impactos negativos que tienen en su accionar sobre el territorio, el bosque y los pueblos indígenas.
						p Integer sapien tellus, suscipit sed tellus eget, fermentum venenatis sem. Proin dolor sem, maximus sed elementum id, finibus at metus. 
						p Asimismo, los pueblos indígenas inciden en los espacios de decisión y gran envergadura a nivel nacional e internacional y su rol en la conservación de la Amazonía es valorada en todo el mundo.
						p Los pueblos indígenas cuentan con autonomía, son reconocidos y sus territorios ancestrales son titulados integralmente, cuentan con capacidad de gestión y manejo de su economía indígena según sus principios de Vida Plena.
						h3 Valores
						p Los valores que rigen nuestra organización se sustentan en los principios de:
						br 
					.col-md-5.aside
						img(src="img/mision.png", width="100%")
			.valores
				.container
					.row
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Justicia
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Respeto
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Reciprocidad
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Equidad
					.row
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Solidaridad
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Disciplina
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Innovación
						.col-md-3
							.valor
								.num
									p 1
								.vtext
									p Justicia


				

		//entidades
		section.entidades
			.container
				.row
					.responsive2
						div.col-md-3
							img(src="img/home/ap1.png")
						div.col-md-3
							img(src="img/home/ap2.png")
						div.col-md-3
							img(src="img/home/ap3.png")
						div.col-md-3
							img(src="img/home/ap4.png")
						div.col-md-3
							img(src="img/home/ap5.png")
						div.col-md-3
							img(src="img/home/ap6.png")
						div.col-md-3
							img(src="img/home/ap7.png")
		//suscribirse
		section.suscribete
			.container
				.row
					.col-md-offset-2.col-md-4.prom-subsc
						img(src="img/icons/subsc.svg")
						.txt-subsc
							h2 Suscribete
							p Entérate de nuestras noticias
					.col-md-4
						.search
							form
								input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
								input(type='submit', value='Enviar')
		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
				$('.responsive').slick({
				setting-name: setting-value
				});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
