doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug
		
		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Nuestro trabajo
								
		//nuestro-trabajo
		section.nuestro-trabajo.aside
			.container
				.row
					.col-md-12
						h2 Nuestro trabajo
						hr.line-title-seccion
				.row.quehacemos
					.col-md-12
						h3 PROGRAMA NACIONAL CIPTA

					.col-md-6
						h4 ¿Qué hacemos?
						p El Centro de Información y Planificación Territorial Aidesep (CIPTA), desde su creación en el año 2001, es una herramienta técnica de gestión de la Asociación Interétnica de Desarrollo de la Selva Peruana (AIDESEP) ante el Estado, para la defensa de los derechos territoriales de los pueblos indigenas de la amazonia peruana.
						p Su objetivo es producir estudios técnicos y cartográficos que sustenten las demandas territoriales de los pueblos indígenas amazónicos. Asimismo, generar una base cartográfica digital SIG que permita visualizar mediante mapas temáticos los conflictos de superposición de los territorios indígenas con las Concesiones Petroleras, Mineras, Forestales, Bosques de Producción Permanente (BPP), Áreas Naturales Protegidas (ANP), etc.
					.col-md-6
						img(src='img/img-4.png', width="100%" alt='')
				.row.logros
					.col-md-12
						h4 ¿Cúales son sus principales logros?
						p AIDESEP, dentro de su política ha priorizado asegurar, recuperar y recomponer los territorios tradicionales, principalmente en cuatro ejes temáticos:
						p
							ol
								li Reconocimiento, titulación y ampliación de comunidades nativas. DL. 22175
								li Reservas Territoriales a Pueblos Indígenas en Situación de Aislamiento y en Contacto Inicial. Ley N° 28736
								li Reservas Comunales
								li Titularidad del territorio ancestral por Pueblo Indígena	

		//entidades
		section.entidades
			.container
				.row
					.responsive2
						div.col-md-3
							img(src="img/home/ap1.png")
						div.col-md-3
							img(src="img/home/ap2.png")
						div.col-md-3
							img(src="img/home/ap3.png")
						div.col-md-3
							img(src="img/home/ap4.png")
						div.col-md-3
							img(src="img/home/ap5.png")
						div.col-md-3
							img(src="img/home/ap6.png")
						div.col-md-3
							img(src="img/home/ap7.png")
		//suscribirse
		section.suscribete
			.container
				.row
					.col-md-offset-2.col-md-4.prom-subsc
						img(src="img/icons/subsc.svg")
						.txt-subsc
							h2 Suscribete
							p Entérate de nuestras noticias
					.col-md-4
						.search
							form
								input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
								input(type='submit', value='Enviar')
		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
				$('.responsive').slick({
				setting-name: setting-value
				});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
