doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug

		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Nuestra historia
								
		//Misión y Visión
		section.misisonyvision
			.container
				.row.aside
					.col-md-12
						h2 Nuestra historia
						hr.line-title-seccion
					.col-md-12.aside
						button.accordion PERIODO COLONIAL
						.panel
							p
								| La llegada del poder tcolonial al Perú implicó reiterados intentos de conquista territorial por todo el país, sin embargo, los pueblos amazónicos nunca fueron conquistados. 
								| Debido a la resistencia ejercida por los pueblos indígenas amazónicos, estos aún conservan su nombre, su lengua y sus costumbres ancestrales.
								img(src='img/historia/colonial.png', width='100%')
						button.accordion LA ERA DEL CAUCHO
						.panel
							p
								| Tras la independencia del Perú, los intentos de conquista del territorio amazónico tomaron  forma de frentes extractivos de materias primas en los bosques. Así sucedió en la era de explotación del caucho, la etapa más dura y oscura para la población indígena de la Amazonía peruana.
								| En este periodo, los pueblos indígenas amazónicos fueron obligados a trabajar en la extracción del caucho en condiciones inhumanas por las empresas que comercializaban este insumo; lo cual trajo consigo consecuencias nefastas en niveles ambientales y de Derechos Humanos.
								img(src='img/historia/caucho.png', width='100%')
						button.accordion FINALES DE LOS 60
						.panel
							p
								| Los primeros intentos de organización autónoma se iniciaron como mecanismos defensivos contra la penetración de los colonos y las empresas explotadoras de materias primas.
								| Estas organizaciones fueron, en un primer momento, locales, comunales; y en un segundo momento regionales o de cuencas. Los Asháninka, Amuesha y Aguaruna del Alto Marañón, fueron los que iniciaron el movimiento federativo de las comunidades.
						button.accordion FINALES DE LOS 70
						.panel
							p
								| El contexto sociopolítico de inicios de los 70 fue altamente favorable para el desarrollo de la organización de los pueblos indígenas. Por un lado, se producían procesos sociales convulsionantes en la sociedad global; y en el Perú, se producía un populista militar que aprobó la Ley de Comunidades Nativas en 1974 y se inició el proceso de titulación de tierras de comunidades.
								| Como parte de este proceso, los pueblos indígenas avanzaron en sus procesos de desarrollo organizacional, conformando en 1979 la Coordinadora de Comunidades Nativas de la Selva Peruana (COCONASEP), que al año siguiente se denominó Asociación Interétnica de Desarrollo de la Selva Peruana (AIDESEP).
						button.accordion FINALES DE LOS 80
						.panel
							p
								| Las exigencias de la Ley de Comunidades Nativas motivaron la búsqueda de formas organizativas cada vez más complejas para los pueblos indígenas. En 1980, AIDESEP fue la respuesta que los 10 años de experiencias de base produjeron.
								| Si bien es cierto que son los pueblos los grandes protagonistas de su historia, en cada momento histórico los pueblos se reflejan en sus líderes. La primera generación de fundadores de AIDESEP está grabada en la memoria de todos los que conocen y aman la historia de sus pueblos en la Amazonía.
				

		//entidades
		section.entidades
			.container
				.row
					.responsive2
						div.col-md-3
							img(src="img/home/ap1.png")
						div.col-md-3
							img(src="img/home/ap2.png")
						div.col-md-3
							img(src="img/home/ap3.png")
						div.col-md-3
							img(src="img/home/ap4.png")
						div.col-md-3
							img(src="img/home/ap5.png")
						div.col-md-3
							img(src="img/home/ap6.png")
						div.col-md-3
							img(src="img/home/ap7.png")
		//suscribirse
		section.suscribete
			.container
				.row
					.col-md-offset-2.col-md-4.prom-subsc
						img(src="img/icons/subsc.svg")
						.txt-subsc
							h2 Suscribete
							p Entérate de nuestras noticias
					.col-md-4
						.search
							form
								input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
								input(type='submit', value='Enviar')
		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
				$('.responsive').slick({
				setting-name: setting-value
				});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
