doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug
		
		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Contactenos
								
		//Contactenos
		section.conatcto
			.container
				.row
					.aside.tnoticia
						h2.titulo-principal Organizaciones 
							span
								img(src='img/svg/icono-title-02.svg', width="50px" alt='')
						hr.line-title-seccion
						.col-md-12
							p Ubica en el selector la organización que desea contactarse y solicitar información.
							div.cambiarsede
								select#cambiar-sede
									option(value='all') ARPI SC
									option(value='1') ARPI SC
									option(value='2') ARPI SC
									option(value='3') ARPI SC
									option(value='4') ARPI SC
									option(value='5') ARPI SC
			.ubicacion-mapa
				p Direccion: Jr. Julio C. Tello N° 921 - Provincia de Satipo, departamento de junín.
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1645.2544621875234!2d-74.6421811309308!3d-11.25430204741304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910bc100122d7a85%3A0x9e4be68c7722d952!2sJr.+Julio+C.+Tello+921%2C+Satipo%2C+Per%C3%BA!5e0!3m2!1ses-419!2ses!4v1508697134759', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

									
		//entidades
		include includes/entidades.pug

		//suscribirse
		include includes/suscribete.pug
		
		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
				$('.responsive').slick({
				setting-name: setting-value
				});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
