doctype html
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")

	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug

		section.banner-interna
			.item
				img(src='img/quienes-somos.jpg', width="100%" alt='')
				.banner-text
					.box-trans
						h1 Qué Queremos
								
		//Misión y Visión
		section.quequeremos.aside
			.container
				.row
					.col-md-12
						h2 ¿Qué haremos? 
						hr.line-title-seccion
				.row
					.col-md-12
						h3 AGENDA INDÍGENA
				.row
					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 1
							.col-md-10
								.txt-razones
									p Los pueblos indígenas estaremos unidos para defender nuestros territorios y lograr su titulación integral, exigiendo el derecho al consentimiento previo, libre, informado y de buena fe.

					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 2
							.col-md-10
								.txt-razones
									p Hacer viable y posible el ejercicio de la libre determinación de todos los Pueblos Indígenas.
				.row
					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 3
							.col-md-10
								.txt-razones
									p Proteger a nuestros hermanos indígenas no contactados y en contacto inicial – PIACI en su libre determinación de alejarse de las grandes ciudades y permanecer libres en medio de nuestros bosques amazónicos.

					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 4
							.col-md-10
								.txt-razones
									p Posicionamiento del Plan de Vida Plena Amazónico y apoyo del Estado para su implementación.
				.row
					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 5
							.col-md-10
								.txt-razones
									p Recuperar el máximo de nuestros territorios ancestrales como única garantía de supervivencia de nuestros pueblos y el desarrollo de nuestras futuras generaciones.

					.col-md-6
						.row.list-razones
							.col-md-2
								.circle-num
									p 6
							.col-md-10
								.txt-razones
									p Recuperar el derecho a la jurisdicción indígena y a la legalización de nuestro derecho consuetudinario.

		br
		//entidades
		include includes/entidades.pug

		//suscribirse
		include includes/suscribete.pug

		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
					$('.responsive').slick({
						setting-name: setting-value
					});
				});

		//my js
		script(src='js/min.js')
		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
