
html
	head
		title AIDESEP
		meta(name='keywords', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		//bootstrap
		link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
		// animate.css
		link(href='css/animate.css', rel='stylesheet', type='text/css', media='all')
		//slick slider css
		link(href='css/slick.css', rel='stylesheet', type='text/css', media='all')
		link(href='css/slick-theme.css', rel='stylesheet', type='text/css', media='all')
		// mystyles 
		link(href='css/main.css', rel='stylesheet', type='text/css', media='all')
		// fonts
		link(href='css/fonts.css', rel='stylesheet', type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		//favicon
		link(rel="shortcut icon",href="img/favicon.ico")


	body 
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.10";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


		//header
		include includes/header.pug
		

		section.fotogaleria
			.container-fluid
				.row
					.content-fotos
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img1.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba45', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img2.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img3.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img4.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img5.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
					.content-fotos
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img2.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba45', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img1.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img5.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img4.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img3.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
					.content-fotos
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img5.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba45', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img3.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img2.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img1.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
						figure.elemento-foto
							a.movie-tile(data-trailer-youtube-id='OSQyWUmba4E', data-toggle='modal', href='#trailer')
								img(src='img/fotogaleria/img4.png', alt='', width='100%')
								i.fa.fa-play-circle.fa-2x(aria-hidden="true")
					// Trailer Video Modal
					#trailer.modal
						.modal-dialog
							.modal-content
								a.hanging-close(href='#', data-dismiss='modal', aria-hidden='true')
									img(src='https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24')
								#trailer-video-container.scale-media

		//entidades
		include includes/entidades.pug

		//suscribirse
		include includes/suscribete.pug
		
		//footer
		include includes/footer.pug

		// jQuery (necessary for Bootstrap's JavaScript plugins)
		script(src='js/jquery.min.js')
		//slick slider js
		script(src='js/slick.js')
		script(type='text/javascript').
				$(document).ready(function(){
				$('.responsive').slick({
				});
				});
		//my js
		script(src='js/min.js')

		script(src="js/wow.min.js")
		script.
			new WOW().init();
		script(src='js/bootstrap.min.js')
