section.header
  .container
    .row
      .col-md-4.col-xs-12.col-sm-12
        img(src='images/logo.png')
      .col-md-8.col-xs-12.col-sm-12
        .head-right
          .idiomas
            ul
              li
                a.icon_peru(href='#') Español
              li
                a.icon_euu(href='') Ingles
          .logo-m-seeker
            .logo-mundial
              img(src='images/logo-banco-mundial.png', style='    height: 70px', alt=' ')
            .search
              form
                input(type='text', value='Buscador', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}")
                input(type='submit', value='')