/*------Home--------*/
.aside {
    margin: 3% 0 3%;
}
.line-title-seccion {
    width: 50%;
    margin-top: 0px;
    border-width: 1px;
    border-color: #524B3E;
}
/*carousel-banner*/
#banner-carousel.carousel .carousel-inner .item {
opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}
#banner-carousel.carousel .carousel-inner .active {
	opacity: 1;
  transition: opacity 500ms ease-in-out;
}
#banner-carousel.carousel .carousel-indicators {
	position: absolute;
    bottom: 12px;
}
#banner-carousel.carousel .carousel-indicators > li {   
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50px;
    border: 3px solid #fff;
    margin: 0px; 
}
#banner-carousel.carousel .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #579E32;
}

.banner-text {
    position: absolute;
    z-index: 100;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
}
/*.banner-text a.btn {
    background-color: #ec8b00;
    border-color: #ec8b00;
    color: #fff;
}*/

.box-trans {
	color: #fff;
    background-color: rgba(0, 127, 72, 0.63);
    margin: auto;
    width: 36%;
    padding: 10px;
	h2 {
	 font-weight: bold;
     margin-top: 5px;
	}
  h3 {
    font-size: 20px;
    margin-top: 5px;
  }
}

/*medias*/



@media (max-width: 768px){
	#carousel{
		margin-bottom: 2%;
	}
	#carousel img {
	    height: 345px;
	    width: 100%; 
	}
	.box-trans {
	    width: auto;
    background-color: #007f48;
	}
	.banner-text {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #007f48;
    padding-bottom: 50px;
	}
	.banner-text{ position: relative;
	}
	.mde{ padding-top: 0px;
																							}
}
@media (max-width: 560px){
	#carousel img{
		height: 100% !important;
	}
	.box-trans {
		h2{
			font-size: 14px !important;
		}
		h3{
			font-size: 14px !important;
			margin-top: 0;
		}
	}
}

@media (max-width: 340px){
}

/**NOTICIAS**/
.bloque-noticia {
    position:relative;
    border-bottom: #8BB820 10px solid;
    margin-bottom: 6%;
}
.content-noticia {
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
padding: 30px;
    position: absolute;
    bottom: 0;
    hr{
        width: 80px;
        border-width: 2px;
    } 
    p {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: bold;
        color: #fff;

    }
}
/*ver todas las noticias*/
.bloque-tnoticias {
    margin-bottom: 12%;
}
.tnoticia{
    h6 {
    margin: 40px 0 30px;
    text-align: right;
    color: #007f48;
    font-weight: bold;   
    }
}
.content-tnoticia{
    background-color: #EDEDED;  
    border-top: #8bb820 5px solid;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: 187px;
}

/*nuestros programas*/
.content-programa{
    padding: 25px;
    background-color: #008536;
    color: #fff;
    display: flex;
    justify-content: space-between;
    h3{
        font-size: 25px;
        font-weight: bold;
    }
}
/*entidades*/
.entidades {
    padding: 15px 0;
    background-image: url("../img/fondo-pasto.png");
    background-repeat: no-repeat;
    height: 160px;
}
/*Organzaciones Regionales*/
.org-regionales {
    background-color: #ccc;
}
.box-org {
    background: #EFEFEF;
    padding: 15px;
    height: 85px;
    margin-bottom: 15px;
    h3 {
        margin-top: 0;
    }
}

//suscribete
.suscribete{
    background-color: #89B383;
    padding: 15px;
    .prom-subsc {
        display: flex;
    }
    img {
        margin-right: 10px;
    }
    .txt-subsc {
        color: #fff;
        h2 {
            font-weight: bold;
        }
    }
    .search {
        margin: 25px 0;
    }
}



//footer
.footer {
    background-color: #00491B;
    padding: 30px 0;
    color: #fff;
    .phone .text-footer  {
        font-size: 25px;
    }
    .icon-circle {
    background-color: #8CB81F;
        i{
            color: #00491B;
        }
    }
}

.text-footer {
    margin-top: 10px;
}