//banner
.banner-interna{
    position: relative;
}
.banner-interna .banner-text {
    position: absolute;
    z-index: 100;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }
}
/*.banner-text a.btn {
    background-color: #ec8b00;
    border-color: #ec8b00;
    color: #fff;
}*/

.banner-interna .box-trans {
	color: #fff;
    background-color: rgba(0, 127, 72, 0.63);
    margin: auto;
    width: 20%;
    padding: 10px;
	h2 {
	 font-weight: bold;
     margin-top: 5px;
     font-size: 38px;
	}
}
//quienes somos
//multimedia
.box-descarga{
    display: flex;
    margin: 10px 0;
}
.title-descarga {
    background: #f2f2f2;
    padding: 20px;
    height: 65px;
    width: 90%;
}
.icon-descarga {
    background-color: #007f48;
    height: 65px;
    padding: 12px 10px;
    i{
        color: #fff;
        font-size: 3em;
    }
}
.text-resalt {
     color: #00491b;
     font-weight: bold;    
}
//nuestrotrabajo
.nuestro-trabajo{
   h3{ color: $verde;
    font-size: 30px;
    }
   h4 {
     color: $verde;
     font-weight: bold;
   } 
}
.quehacemos {
    line-height: 1.4;
}
.logros {
    margin-top: 50px;
    ol{
        margin-left: 30px;
    }
}

//contact
.cambiarsede {
    select {
    background-color: #683B11;
    border: none;
    padding: 10px 86px;
    color: #fff;
    font-weight: bold;
    font-size: 18px; 
    }
}
.ubicacion-mapa {
    margin-top: 4%;
    border-top: solid 1.5px #ccc;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}
//Misión y Visión

.misisonyvision {
    h3 {
        font-weight: bold;
        color: #0A5020;
        }
}
.valores {
    background-color: #93B777;
    background-image: url("../img/misionyvision/bg-verde.png");
    padding: 15px 0;
}
.valor{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    .num {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #0A5020;
        color: #fff;
        z-index: 10;
        position: relative;
        text-align: center;
        padding: 10px 0;
    }
    .vtext {
        border-radius: 50px;
        width: 200px;
        height: 50px;
        background-color: #fff;
        color: #0A5020;
        position: absolute;
        padding: 12px 0 0 20px;
        text-align: center;
        font-size: 18px;
    }
}
//nuestrhistoria
button.accordion {
    background-color: #007F48;
    color: #fff;
    cursor: pointer;
    padding: 11px 40px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;
}

button.accordion.active, button.accordion:hover {
    background-color: #0A5020;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
        padding: 10px 0;
    }
}


//Consejo Directivo
.representantes {
    display: flex;
    .col-md-6 {
    display: flex;
    }
}
.content-circle {
    text-align: center;
    margin: auto;
    text-align: center;
    max-width: 350px;
    img {
        border-radius: 50%;
        border: 8px solid #ccc;
        padding: 10px;
    }
    h4 {
        color: #696969;
    }
    p{
       color: #007F48;
         font-weight: bold; 
    }
}


//fotogaleria
    .content-fotos {
        flex-direction: row;
        flex-wrap: no-wrap;
        display: flex;
    }
    .elemento-foto {
        width: 450px;
        a {
            :hover {
                background-color: #ccc;
            }
        }
    }


/*//*****//////
.img-element {
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  &:hover { opacity: .8; } 
}

#modal-img {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0; left: 0; bottom: 0; right: 0;
  margin-right: -20px;
  background-color: rgba(#000, .8);
  z-index: 1;  
  
  &.open { display: block; }
  
  &__close {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 50px;
    cursor: pointer;
    color: #fff;
    animation: show-close .5s ease-in-out ;
  }
  
  &__content {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    max-width: 700px;    
    animation: open-modal .4s ease-in-out;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
  }  

  &__caption {
    padding: 30px;
    text-align: center; 
    color: #fff;
    animation: open-modal .5s ease-in-out;
  }  

}

@keyframes open-modal {
  from { transform: scale(0) }
  to { transform: scale(1)  }
}

@keyframes show-close {
  from { transform: translateY(-300px) }
  to { transform: translateY(0)}
}


//**video//
#trailer .modal-dialog {
    margin-top: 200px;
    width: 640px;
    height: 480px;
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin:0;
}
.movie-tile {
    display: block !important;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}

.fa.fa-play-circle.fa-2x {
      position: absolute;
    top: 60px;
    left: 122px;
    color: #fff;
} 


///*organizaciones-regionales*////
.bloque-org-regional {
    margin-bottom: 30px;
    h2 {
        color: #00491b;
        font-weight: bold;
        font-size: 30px;
    }
    h3 {
        font-weight: bold;
        margin: 0px 0px 22px;
        color: #3C3C3B;
        font-size: 16px;
    }
    h4 {
        color: #00491b;
        font-weight: bold;
        font-size: 16px;
    }
    span{
        color: #333;
        font-weight: normal;
    }
}
///*que queremos*////
.list-razones{
  margin-bottom: 15px;
}
.quequeremos {
    h3 {
      color: #007f48;
        margin-bottom: 30px;
    }
}
.circle-num {
    background-color: #008044;
    border-radius: 50%;
    color: #fff;
    height: 62px;
    width: 62px;
    padding: 11px;
    text-align: center;
    margin-left: 15px;
    p {
      font-size: 28px;
    }
}

///*detalle noticias*///
.info-noticia {
    h2 {
    color: #007f48;
    font-weight: bold;
    margin-bottom: 25px;
    }
}
.noticias .logo-m-seeker {
  justify-content: left;
}
//////*formulario*////////}

.form-control {
    border: 1px solid #007f48;
    border-radius: 50px;
    border-radius: 50px;margin: 10px 0;

}
.form-control.mensaje {
    height: 150px;
    border-radius: 15px;
}
.check li {
    padding-top: 15px;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    input {
        margin-left: 5px;
    }
    span {
    color: #007f48;
    margin-left: 5px;
    }
}

.area-enviar {
    text-align: right;
}
.enviar button {
        background-color: #00491b;
    color: #fff;
    border-radius: 50px;
    padding: 8px 23px;
}