//banner
.banner-interna{
    position: relative;
}
.banner-interna .banner-text {
    position: absolute;
    z-index: 100;
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
}
/*.banner-text a.btn {
    background-color: #ec8b00;
    border-color: #ec8b00;
    color: #fff;
}*/

.banner-interna .box-trans {
	color: #fff;
    background-color: rgba(0, 127, 72, 0.63);
    margin: auto;
    width: 36%;
    padding: 10px;
	h2 {
	 font-weight: bold;
     margin-top: 5px;
     font-size: 38px;
	}
}
//quienes somos
//multimedia
.box-descarga{
    display: flex;
    margin: 10px 0;
}
.title-descarga {
    background: #f2f2f2;
    padding: 20px;
    height: 65px;
    width: 90%;
}
.icon-descarga {
    background-color: #007f48;
    height: 65px;
    padding: 6px 10px;
    i{
        color: #fff;
    }
}
//nuestrotrabajo
.nuestro-trabajo{
   h3{ color: $verde;
    }
   h4 {
     color: $verde;
     font-weight: bold;
   } 
}
.logros {
    margin-top: 50px;
    ol{
        margin-left: 30px;
    }
}
//contact
.cambiarsede {
    select {
    background-color: #683B11;
    border: none;
    padding: 10px 86px;
    color: #fff;
    font-weight: bold;
    font-size: 18px; 
    }
}
.ubicacion-mapa {
    margin-top: 4%;
    border-top: solid 1.5px #ccc;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
}
//Misión y Visión

.misisonyvision {
    h3 {
        font-weight: bold;
        color: #0A5020;
        }
}
.valores {
    background-color: #93B777;
    padding: 15px 0;
}
.valor{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    .num {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: #0A5020;
        color: #fff;
        z-index: 10;
        position: relative;
        text-align: center;
        padding: 10px 0;
    }
    .vtext {
        border-radius: 50px;
        width: 200px;
        height: 50px;
        background-color: #fff;
        color: #0A5020;
        position: absolute;
        padding: 10px 0;
        text-align: center;
    }
}
//nuestrhistoria
button.accordion {
    background-color: #007F48;
    color: #fff;
    cursor: pointer;
    padding: 11px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50px;
}

button.accordion.active, button.accordion:hover {
    background-color: #0A5020;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    p {
        padding: 10px 0;
    }
}

//Consejo Directivo
.representantes {
    display: flex;
    .col-md-6 {
    display: flex;
    }
}
.content-circle {
    text-align: center;
    margin: auto;
    text-align: center;
    max-width: 350px;
    img {
        border-radius: 50%;
        border: 8px solid #ccc;
        padding: 10px;
    }
    h4 {
        color: #696969;
    }
    p{
       color: #007F48;
         font-weight: bold; 
    }
}


//fotogaleria
    .content-fotos {
        flex-direction: row;
        flex-wrap: no-wrap;
        display: flex;
    }
    .elemento-foto {
        width: 450px;
        a {
            :hover {
                background-color: #ccc;
            }
        }
    }
